@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: lightgray;
}

.todo {
  display: flex;
}

.checked {
  display: flex;
  text-decoration: line-through;
  opacity: 0.5;
}
